/* THINK: Will hard-coded values be an issue? */           

/*@import url('https://fonts.googleapis.com/css?family=PT+Sans');*/


/** Regular San Francisco (Must include this at the beginning of your styles sheet!) */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}


.device_selection:hover {
    text-decoration: none;
}


.device_selection p {
    color: white;
}


body {
    font-family: "San Francisco", "PT Sans", sans-serif;
    /*padding-top: 120px;*/ /*To offset space taken by the navbar...Perhaps don't need anymore for design we're shooting for.*/
}

#test {
    background-color: red;
}

.navbar {
    font-size: 20px;
    padding-top: 10px;
    background-color: rgba(0,0,0,0.4);;
}


/* Code for making navbar borderless BEGIN (credit to vanburen from SO) */
.navbar.navbar-default {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}


.navbar.navbar-default .navbar-collapse {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
/* Code for making navbar borderless END */


.navbar-brand {
    cursor: pointer;
    font-size: 20px;
    padding: 0px;
}


.nav-item {
    cursor: pointer;
}


.nav-link {
    font-weight: 400;
}


.navbar .nav > li > a {
    color: white;
}


#start_repair_btn {
    background: rgba(0,0,0,0.4);
    color: white;
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
}


#contact_us_btn {
    /*background: rgba(0,0,0,0.4);*/
    color: white;
    font-size: 15px;
    padding-left: 50px;
    padding-right: 50px;
}


.jumbotron {
    margin: 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 100vh;
    width: 100vw;
}


#welcome {
    background-image: url(images/welcome.jpg);
    position: relative; 
    top: 50%;
    color: white;
}


#welcome_content {
    position: relative; 
    top: 45%;
    color: white;
}


#services {
    background-image: url(images/select_device.jpg);
}


#services_content {
    position: relative; 
    top: 20%;
    color: white;
    vertical-align: bottom;
}


#how_it_works {
    background-image: url(images/how_it_works.jpg);
}


#how_it_works_content {
    position: relative; 
    top: 20%;
    color: white;   
}


#stay_clever {
    background-image: url(images/stay_clever.jpg);
}


#stay_clever_content {
    position: relative; 
    top: 20%;
    color: white;   
}


#store_info {
    position: relative;
    top: -50px;
}


.how_it_works_btn {
    background: rgba(0,0,0,0.4);
    color: white;
    font-size: 30px;
    width: 300px;
    margin: 20px;
}


#here_to_help_btn {
    width: 300px;
    border-radius: 30px;
    border-color: white;
    border-width: medium;
    background-color: transparent;
}


#play_btn {
    position: relative;
    left: -18px;
}

#here_to_help_span {
    position: relative;
    left: -15px;
}

#here_to_help_btn:hover {
    text-decoration: none;
    color: white;
}


.center {
    margin: 0 auto; 
    width: 80%;
}


.navbar-toggle .icon-bar { 
    background-color: #fff;

}


/* THE WINNING CODE for making navbar items act the way they do */
.nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
    color: dimgray;
    text-decoration: none; /* e.g., no underlines */
}
li.nav-item.active {
    background-color: transparent;
}
.active a{
    color: dimgray !important;
}



/* 768px is the breakpoint? */
/*
@media (max-width: 768px) { 
    .container.khoa {
        width: 30%;
    }

    #hoang {
        padding-top: 0px;
    }
    
}
*/


.logo-bottom .logo-border {
  border-right: 1px solid #d1d3d4;
  height: 54px;
  vertical-align: bottom;
  display: table-cell;
  float: none;
}


.equal {
    display: flex;
    flex-wrap: wrap;
}


#move_up {
    background: none;
    margin: 0px;
    position: fixed;
   
    top: 10%;
    left: 47%;
    
    width: 70px;
    height: 70px;
    z-index: 100;
    display: none;
    background: url("images/up.png");
}


#move_down {
    background: none;
    margin: 0px;
    position: fixed; /* Makes it so the arrow stays where it is. */

    bottom: 5%;
    right: 48%;
    
    width: 70px;
    height: 70px;
    z-index: 100;
    /*display: none;*/
    text-decoration: none;
    background: url("images/down.png");
}




#soc_media_and_store_info {
    background-color: rgba(0,0,0,0.4); 
    border-radius: 5px; 
    margin-top: 250px;
}


/*Code from Perfect Icons BEGIN*/
@font-face {
    font-family: 'si';
    /* icon files weren't being accessed when they were in the socicon-v1.5 folder... */
    src: url('soc_media_icons/socicon.eot');
    src: url('soc_media_icons/socicon.eot?#iefix') format('embedded-opentype'),
         url('soc_media_icons/socicon.woff') format('woff'),
         url('soc_media_icons/socicon.ttf') format('truetype'),
         url('soc_media_icons/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(socicon-v1.5/socicon.svg) format(svg);
    }
}

.soc {
    overflow:hidden;
    margin:0; padding:0;
    list-style:none;
}

.soc li {
    display:inline-block;
    *display:inline;
    zoom:1;
}

.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;

    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    -webkit-border-radius: 82px;
    -moz-border-radius: 82px;
    border-radius: 82px;
    margin-right: 10px;
    color: #ffffff;
    background-color: none;
}

.soc-icon-last{
    margin:0 !important;
}

.soc-facebook {
    background-color: #3e5b98;
}
.soc-facebook:before {
    content:'\e041';
}
.soc-instagram {
    background-color: #405de6;
}
.soc-instagram:before {
    content:'\e057';
}
.soc-tumblr {
    background-color: #45556c;
}
.soc-tumblr:before {
    content:'\e059';
}
.soc-twitter {
    background-color: #4da7de;
}
.soc-twitter:before {
    content:'\e040';
}
.soc-youtube {
    background-color: #e02a20;
}
.soc-youtube:before {
    content:'\e051';
}
.soc-yelp {
    background-color: #c83218;
}
.soc-yelp:before {
    content:'\e047';
}

.soc-facebook:hover {
    background-color: #526fac;
}
.soc-instagram:hover {
    background-color: #5471fa;
}
.soc-tumblr:hover {
    background-color: #596980;
}
.soc-twitter:hover {
    background-color: #61bbf2;
}
.soc-youtube:hover {
    background-color: #f43e34;
}
.soc-yelp:hover {
    background-color: #dc462c;
}
/*Code from Perfect Icons END*/


/* CSS FOR CENTERING MODALS BEGIN */
/* Thanks to Ren De Nobel from SO: http://stackoverflow.com/questions/18053408/vertically-centering-bootstrap-modal-window */

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it for our case since we added these two classes^ */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
    
    /*background-color: gray;*/
}
/* CSS FOR CENTERING MODALS END */


.problem_item {
    margin-bottom: 10px;
    border-radius: 10px;
    border-color: black;
    /*border-width: medium;*/
    background-color: white;
    color: black;
}
.problem_item:hover {
    color: #FFF;
    background-color: lightgreen;
    color: black;
}


.problem_item:active {
    color: #FFF;
    background: #0f6a37; /* CleverTech Green */
    border-color: #0f6a37:
}


.device_model {
    font-size: 15px;
    font-weight: bold;
}

/* right here */
#start_a_repair_dialog, #terms_and_cond_dialog {
    overflow-y: initial !important;
}


#start_a_repair_body {
    height: 700px; /* Fix height so scrollbar will appear */
    overflow-y: auto;
}


#terms_and_cond_body {
    height: 600px;
    overflow-y: auto;
}


.required:after {
    content: " *";
    color: red;
    font-size: 15px;
}


.device_select[type=radio], .problem_select[type=radio] {
    display: none;
}


.device_select[type=radio]:checked + label, .problem_select[type=radio]:checked + label{
    background-color:lightgreen;
    border-radius: 10px;
    border-color: black;
}


.device_select ~ label:hover, .problem_select ~ label:hover {
    cursor: pointer;
    background-color: lightgreen;
    border-radius: 10px;
}


.problem_device:hover {
    cursor: pointer;
    color: dimgray;
}


.how_it_works_dialog { /* body doesn't seem to apply to the actual frame itself, but dialog does!!!!*/
    width: 500px;
}

.modal p {
    word-wrap: break-word;
}

.how_it_works_text {
    font-size: 20px;
}

.notify_require {
    color: red;
    display: none;
}




/* MEDIA QUERIES AT THE END!!! */
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    #soc_media_and_store_info {
        margin-top: 0px;
    }
}

@media (max-width: 767px) {
    #start_repair_btn {
        /*
        float: none;
        clear: both;
        position: relative;
        right: 0;
        */
        position: relative;
        top: 35px;
        left: 10%; 
    }
    
    #move_up {
        left: 45%;
    }
    
    #move_down {
        right: 42%;
    }
    
    #soc_media_and_store_info {
        margin-top: 0px;
    }
}