/* THINK: Will hard-coded values be an issue? */           

/*@import url('https://fonts.googleapis.com/css?family=PT+Sans');*/

/** Regular San Francisco (Must include this at the beginning of your styles sheet!) */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}


body {
    font-family: "San Francisco", "PT Sans", sans-serif;
    /*padding-top: 120px;*/ /*To offset space taken by the navbar...Perhaps don't need anymore for design we're shooting for.*/
}

.navbar {
    font-size: 20px;
    padding-top: 50px;
    background-color: transparent;
}


/* Code for making navbar borderless BEGIN (credit to vanburen from SO) */
.navbar.navbar-default {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar.navbar-default .navbar-collapse {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
/* Code for making navbar borderless END */


.navbar-brand {
    cursor: pointer;
    font-size: 20px;
    padding: 0px;
}


.nav-item {
    cursor: pointer;
}


.nav-link {
    font-weight: 400;
}


.navbar .nav > li > a {
    color: white;
}


#open_ticket_btn {
    background: rgba(0,0,0,0.4);
    color: white;
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
}


.jumbotron {
    margin: 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 100vh;
    width: 100vw;
}


#welcome {
    background-image: url(images/welcome.jpg);
    position: relative; 
    top: 50%;
    color: white;
}


#welcome_content {
    position: relative; 
    top: 50%;
    color: white;
}


#services {
    background-image: url(images/select_device.jpg);
}


#services_content {
    position: relative; 
    top: 50%;
    color: white;
}


#how_it_works {
    background-image: url(images/how_it_works.jpg);
}


#how_it_works_content {
    position: relative; 
    top: 20%;
    color: white;   
}


#stay_clever {
    background-image: url(images/stay_clever.jpg);
}


#stay_clever_content {
    position: relative; 
    top: 50%;
    color: white;   
}


li.nav-item > a.nav-link.active {
    background-color: red;
}


.nav-item:hover {
    color: red;
}


.how_it_works_btn {
    background: rgba(0,0,0,0.4);
    color: white;
    font-size: 20px;
    width: 200px;
    margin: 20px;
}


.center {
    margin: 0 auto; 
    width: 80%;
}