/*@import url('https://fonts.googleapis.com/css?family=PT+Sans');*/

/** Regular San Francisco (Must include this at the beginning of your styles sheet!) */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}


.device_selection:hover {
    text-decoration: none;
}


.device_selection p {
    color: white;
}


body {
    /*font-family: "San Francisco", "PT Sans", sans-serif;*/
    font-family: "San Francisco", sans-serif;
    background-color: black;
}

#test {
    background-color: red;
}

.navbar {
    font-size: 20px;
    padding-top: 10px;
    /*background-color: rgba(0,0,0,0.4);*/
    background-color: rgba(0,0,0,0.7); /* YO! THIS IS A PRETTY DOPE CHANGE! */
}


/* Code for making navbar borderless BEGIN (credit to vanburen from SO) */
.navbar.navbar-default {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}


.navbar.navbar-default .navbar-collapse {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
/* Code for making navbar borderless END */


.navbar-brand {
    cursor: pointer;
    font-size: 20px;
    padding: 0px;
}


#brand_logo {
    display: inline;
    width: 50px;
    height: 50px;
}


.nav-item {
    cursor: pointer;
}


.nav-link {
    font-weight: 400;
}


.navbar .nav > li > a {
    color: white;
}


.pick_up_request_btn {
    background: rgba(0,0,0,0.4);
    color: white;
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
}


.pick_up_request_btn:hover {
    color: white;
}


.pick_up_request_btn:focus {
    color: white;
}


/* For hamburger to X animation BEGIN */
/* Thanks to https://julienmelissas.com/animated-x-icon-for-the-bootstrap-navbar-toggle/*/
/* Don’t forget to add the -ms-transform, -ms-transform-origin, -webkit-transform, and 
-webkit-transform-origin properties to your CSS to get this to work on iDevices and others!!! */
.navbar-toggle {
    border: none;
    background: transparent !important;
}

.navbar-toggle:hover {
    background: transparent !important;
}

.navbar-toggle .icon-bar {
    width: 22px;
    transition: all 0.2s;
}

.navbar-toggle .top-bar {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform-origin: 10% 10%;
    -webkit-transform-origin: 10% 10%;
    -ms-transform-origin: 10% 10%;
}

.navbar-toggle .middle-bar {
    opacity: 0;
}

.navbar-toggle .bottom-bar {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform-origin: 10% 90%;
    -webkit-transform-origin: 10% 90%;
    -ms-transform-origin: 10% 90%;
}

.navbar-toggle.collapsed .top-bar {
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
    opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
}
/* For hamburger to X animation END */



/* Keep here for testing*/
#start_repair_btn {
    background: rgba(0,0,0,0.4);
    color: white;
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
}


#contact_us_btn {
    background: rgba(0,0,0,0.4);
    color: white;
    border-color: white;
    font-size: 15px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 5px;
}


/* Might remove this... */
.jumbotron {
    margin: 0px;
    text-align: center;
    background-position: center; /* Should I just put this for each of the sections? */
    background-size: cover;
    /*background-repeat: no-repeat;*/ /* don't need this because background-size: cover makes repeating not possible. */
    /* These are already accomplished with section styling...nah, keep them here instead. */
    /*height: 800px;*/ /* Need to say something like this to prevent resizing on vertical viewport resize? */
    height: 100vh;
    width: 100vw;
}


/*
section {
    height: 100vh;
    width: 100vw;
    padding: 1px; <-- Gets rid of annoying top gap...hmm, I actually don't need it in this case...
}
*/


#welcome {
    background-image: url(images/welcome.jpg);
    /* Why were these here? Must haved mistakened welcome for welcome_content */
    /*
    position: relative; 
    top: 50%;
    color: white;
    */
}


#welcome_content {
    position: relative; 
    top: 45%;
    color: white;
}


#how_it_works {
    background-image: url(images/how_it_works.jpg);
    background-attachment: fixed; /* kicker for parallax effect */
}


#how_it_works_content {
    position: relative; 
    top: 20%;
    color: white;   
}


#services {
    background-image: url(images/select_device.jpg);
}


#services_content {
    position: relative; 
    top: 20%;
    color: white;
    vertical-align: bottom;
}



#stay_clever {
    background-image: url(images/stay_clever.jpg);
    background-attachment: fixed; /* kicker for parallax effect */
}


#stay_clever_content {
    position: relative; 
    top: 20%;
    color: white;   
}


#store_info {
    position: relative;
    top: -50px;
}


.how_it_works_btn {
    background: rgba(0,0,0,0.4);
    color: white;
    font-size: 30px;
    width: 300px;
    margin: 20px;
}


#here_to_help_btn {
    width: 300px;
    border-radius: 30px;
    border-color: white;
    border-width: medium;
    background-color: transparent;
}


#play_btn {
    position: relative;
    left: -18px;
}


#here_to_help_span {
    position: relative;
    left: -15px;
}


#here_to_help_btn:hover {
    text-decoration: none;
    color: white;
}


.center {
    margin: 0 auto; 
    width: 80%;
}


.navbar-toggle .icon-bar { 
    background-color: #fff;

}


/* THE WINNING CODE for making navbar items act the way they do */
.nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
    color: dimgray;
    text-decoration: none; /* e.g., no underlines */
}
li.nav-item.active {
    background-color: transparent;
}
.active a{
    color: dimgray !important;
}


.logo-bottom .logo-border {
  border-right: 1px solid #d1d3d4;
  height: 54px;
  vertical-align: bottom;
  display: table-cell;
  float: none;
}


.equal {
    display: flex;
    flex-wrap: wrap;
}


#move_up {
    background: none;
    margin: 0px;
    position: fixed;
   
    top: 10%;
    left: 47%;
    
    width: 70px;
    height: 70px;
    z-index: 100;
    display: none;
    background: url("images/up_white.png");
}


#move_down {
    background: none;
    margin: 0px;
    position: fixed; /* Makes it so the arrow stays where it is. */

    bottom: 5%;
    right: 48%;
    
    width: 70px;
    height: 70px;
    z-index: 100;
    /*display: none;*/
    text-decoration: none;
    background: url("images/down_white.png");
}


#msg_info_icon {
    /*background: url("images/down.png");*/
    margin: 0;
    position: fixed; /* Makes it so the arrow stays where it is. */
    bottom: 10px;
    right: 10px;
    width: 55px;
    height: 55px;
    z-index: 100;
    display: none;
    text-decoration: none;
    color: #ffffff; /* Affects color of the envelope */
    /*background-color: #9ED254;*/
    /*background-color: black;*/
    background-color: rgba(0,0,0,0.7);
    border-radius: 50%;
}


#msg_info_icon span {
    position: relative; 
    left: 23%; 
    top: 23%; 
    font-size: 30px;
}


#speech_bubble {
    position: relative; 
    left: 23%; 
    top: 23%; 
}


#msg_info_modal .modal-dialog {
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin: 0px;  
    
}


#msg_info_modal_dialog {
    /*height: 200px;*/
    height: 150px;
    /*width: 250px;*/
    width: 200px;
}


#msg_info_modal_body p {
    margin:0px; 
    text-align: center;
    font-weight: bold;
}


#envelope:hover {
    cursor: pointer;
}


.modal-color-none .modal-backdrop {
    opacity: 0;
}



#soc_media_and_store_info {
    background-color: rgba(0,0,0,0.4); 
    border-radius: 5px; 
    margin-top: 250px;
}


/* Got rid of Perfect Icons code... */


.soc {
    overflow:hidden;
    margin:0; 
    padding:0;
    list-style:none;
}

.soc li {
    display:inline-block;
    *display:inline;
    zoom:1;
}

/*
.fa {
    padding: 6px;
    font-size: 14px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%
}
*/


.fa {
    padding: 6px;
    font-size: 15px;
    width: 30px;
    text-align: center;
    margin: 5px 2px;
    border-radius: 50%
}

.fa:hover {
    opacity: 0.7;
    text-decoration: none;
    color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-yelp {
  background: #D32323;
  color: white;
}


/* CSS FOR CENTERING MODALS BEGIN */
/* Thanks to Ren De Nobel from SO */
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it for our case since we added these two classes^ */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
    
    /*background-color: gray;*/
}
/* CSS FOR CENTERING MODALS END */


.problem_item {
    margin-bottom: 10px;
    border-radius: 10px;
    border-color: black;
    /*border-width: medium;*/
    background-color: white;
    color: black;
}
.problem_item:hover {
    color: #FFF;
    background-color: lightgreen;
    color: black;
}


.problem_item:active {
    color: #FFF;
    background: #0f6a37; /* CleverTech Green */
    border-color: #0f6a37:
}


.device_model {
    font-size: 15px;
    font-weight: bold;
}


#pick_up_request_dialog, #terms_and_cond_dialog {
    overflow-y: initial !important;
}


#pick_up_request_body {
    /*height: 700px;*/ /* Fix height so scrollbar will appear */
    height: 600px; /* Fix height so scrollbar will appear */
    overflow-y: auto;
    font-size: 15px; 
    padding: 35px;
}


#terms_and_cond_body {
    height: 600px;
    overflow-y: auto;
}


.required:after {
    content: " *";
    color: red;
    font-size: 15px;
}


.device_select[type=radio], .problem_select[type=radio] {
    display: none;
}


.device_select[type=radio]:checked + label, .problem_select[type=radio]:checked + label{
    background-color:lightgreen;
    border-radius: 10px;
    border-color: black;
}


.device_select ~ label:hover, .problem_select ~ label:hover {
    cursor: pointer;
    background-color: lightgreen;
    border-radius: 10px;
}


.problem_device:hover {
    cursor: pointer;
    color: dimgray;
}


.how_it_works_dialog { /* body doesn't seem to apply to the actual frame itself, but dialog does!!!!*/
    width: 500px;
}


.modal p {
    word-wrap: break-word;
}


.how_it_works_text {
    font-size: 20px;
}


.notify_require {
    color: red;
    display: none;
}


#contact_us_result_msg, #pick_up_request_result_msg {
    font-size: 15px;
}


/*
#contact_us_modal_dialog {
    height: 42vw;
}
*/


.trans_btn {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}


.sec1_label, .sec2_label {
    cursor: pointer;
}




/* ==================================== MEDIA QUERIES BEGIN ==================================== */

/* Large desktops and laptops */  /* I wonder what the heights are on these sizes? */
@media (min-width: 1200px) {
    li > .pick_up_request_btn {
        display: none;
    }


    #pick_up_request_inner_submit {
        display: none;
    }


    /* Note how jumbotrons, by default, start at 100% of whatever the width/height is */
    .jumbotron {
        /* To prevent shrinkage on vertical resizes: */
        max-height: 870px;
        /* Here you're saying the height can't go any greater than than 870 px */
        min-height: 800px; 
        /* Here you're sayign the height can't go any smaller than 800 px */
    }


    .sec1_label, .sec2_label {
        font-size: 150%
    }


    #gonz_quote {
        margin-top: 20%;
    }


    #gonz_quote > p{
        font-size: 20px;
    }


    .trans_btn > p {
        font-size: 25px;
    }


    #soc_media_and_store_info {
        margin-top: 5%;
    }
}



/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    li > .pick_up_request_btn {
        display: none;
    }


    #pick_up_request_inner_submit {
        display: none;
    }


    /* Note how jumbotrons, by default, start at 100% of whatever the width/height is */
    .jumbotron {
        /* To prevent shrinkage on vertical resizes: */
        max-height: 870px;
        min-height: 800px; 
    }


    #how_it_works {
        background-attachment: scroll; /* Begin stopping parallax effect */
    }


    #stay_clever {
        background-attachment: scroll; /* Begin stopping parallax effect */
    }


    /*
    #book_label, #call_label, #dir_label {
        font-size: 150%
    }
    */


    .sec1_label {
        font-size: 150%
    }

    
    .sec2_label {
        font-size: 150%
    }


    #gonz_quote {
        margin-top: 25%;
    }


    #gonz_quote > p{
        font-size: 20px;
    }


    .trans_btn > p {
        font-size: 20px;
    }


    #soc_media_and_store_info {
        margin-top: 5%;
    }
}


/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    li > .pick_up_request_btn {
        display: none;
    }


    #pick_up_request_inner_submit {
        display: none;
    }


    .jumbotron {
        /* To prevent shrinkage on vertical resizes: */
        max-height: 870px;
        min-height: 800px; 
    }
    
    
    #move_up {
        /*left: 45%;*/
        left: 100%; /* Begin to hide arrow */
    }
    
    
    #move_down {
        /*right: 42%;*/
        right: 100% /* Begin to hide arrow */
    }


    #how_it_works {
        background-attachment: scroll; /* Stop parallax effect */
    }
    

    #stay_clever {
        background-attachment: scroll; /* Stop parallax effect */
    }
    
    
    /*
    #book_label, #call_label, #dir_label {
        font-size: 150%
    }
    */


    .sec1_label {
        font-size: 150%
    }


    .sec2_label {
        font-size: 150%
    }


    #gonz_quote {
        margin-top: 20%;
    }
    
    
    #gonz_quote > p{
        font-size: 20px;
    }

    
    #soc_media_and_store_info {
        margin-top: 1%;
    }
}


/* Landscape phones and portrait tablets */ /* This is when the hamburger appears */
@media (max-width: 767px) {
    .navbar {
        /*background-color: #2a2a2a;*/
        background-color: rgba(0,0,0,0.9); /* YO! THIS IS A PRETTY DOPE CHANGE! */
        padding: 0px;
    }
    
    
    /* Inspired by: http://stackoverflow.com/questions/23400234/centering-brand-logo-in-bootstrap-3-navbar */
    .navbar-brand {
        position: absolute;
        left: 46%;
    }
    
    
    /* Divider between nav-items */
    .divider {
        height: 1px;
        width: 70%;
        /*margin: 9px 0;*/
        margin: 0 auto;
        overflow: hidden;
        background-color: #3f3f3f;
    }

    
    /* Adjust space at top and bottom of collapsed menu */
    .navbar-nav {
        margin-top: 10px;
        margin-bottom: 15px;
    }
    
    
    #pick_up_request_body {
        height: 450px;
        /*height: 100vh;*/
    }
    
    
    #request_pick_up_divider {
        background-color: gray;
    }
    
    
    #brand_logo {
        width: 36px;
        height: 36px;
        margin-top: 20%;
    }
    
    
    
    li > .pick_up_request_btn {
        display: inline-block;
    }
    
    
    div > .pick_up_request_btn {
        display: none;
    }

    
    #pick_up_request_inner_submit {
        display: inline-block;
    }
    
    
    #pick_up_request_footer {
        display: none;
    }
    
    
    #msg_info_icon {
        background-color: rgba(0,0,0,0.9);
    }
    

    #sec1_subtitle {
        font-size: 120%;
    }
    
    .how_it_works_btn {
        font-size: 120%;
    }
    
    
    #gonz_quote {
        font-size: 15px;
    }


    .trans_btn > p {
        font-size: 18px;
    }


    #move_up {
        /*left: 45%;*/
        left: 100%; /* Hide arrow */
    }
    
    
    #move_down {
        /*right: 42%;*/
        right: 100% /* Hide arrow */
    }
    
    
    .jumbotron {
        height: 500px; /* Fix the height */
    }
    

    
    #how_it_works {
        background-attachment: scroll; /* Stop parallax effect */
    }
    
    
    #stay_clever {
        background-attachment: scroll; /* Stop parallax effect */
    }


    #gonz_quote {
        margin-top: 0%;
    }
    

    #gonz_quote > p{
        font-size: 13px;
    }


    .sec1_label {
        font-size: 80%
    }


    .sec2_label {
        font-size: 85%
    }


    #soc_media_and_store_info {
        font-size: 13px;
        margin-top: -1%;
    }


    #contact_us_btn {
        font-size: 11px;
    }
}


/* Portrait phones and smaller */
@media (max-width: 480px) {
    #gonz_quote {
        margin-top: -5%;
    }
    
    #soc_media_and_store_info {
        margin-top: -5%;
    }
}

/* ==================================== MEDIA QUERIES END ==================================== */
